a {
  width: 150px;
  padding: 4px;
  background-color: red;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.secao-provas {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.new {
  background-color: blue;
}

.new-2 {
  background-color: purple;
}
